<h1>Recomendaciones</h1>
<br><br>
<div style="display: flex; align-items: center;">
    <div style="flex: 1;" style="padding-right: 60px;">
        <img id="implementos" src="implementos.jpg" alt="foto implementos">
    </div>
    <div style="flex: 1;" style="padding-left: 60px;">
        <h3>Para rutas de dificultad baja</h3>
        <img id="barra-difbaja" src="barra-difbaja.png" alt="barra dificultad">
        <br>
        <div class="form-check">
            <br>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Zapatos de Trekking
            </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Implementos adicionales segun clima(lentes de sol, guantes, gorra, etc)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Mochila de tamaño adecuado
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Polera de cambio
          </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Bloqueador solar
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              1lt de agua
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              3huevos duros
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              100gr frutos secos
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              1Manzana
            </label>
          </div>
    </div>
</div>
<br><div class="alert alert-success" role="alert">
  Recuerda llevar tu celular cargado!
</div><br>       <div style="border-top:  solid #576B59;"></div>    <br><br>
<div style="display: flex; align-items: center;">
    <div style="flex: 1;" style="padding-right: 60px;">
        <h3>Para rutas de dificultad media</h3>
        <img id="barra-difbaja" src="barra-difmedia.png" alt="barra dificultad">
        <br>
        <div class="form-check">
            <br>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Zapatos de Trekking
            </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Implementos adicionales segun clima(lentes de sol, guantes, gorra, etc)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Mochila de tamaño adecuado
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Polera de cambio
          </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Bloqueador solar
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              1lt de agua
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              3huevos duros
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              100gr frutos secos
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              1Manzana
            </label>
          </div>
    </div>
    <div style="flex: 1;" style="padding-left: 60px;">
        <img id="mochila" src="mochila.jpg" alt="">
</div>
