h1{
    color: #576B59;
    text-shadow: 2px 2px 5px #102B26;
}
h3{
    color: #f5be2e;
}
#implementos{
    height: 350px;
    width: 350px;
}

#mochila{
    height: 350px;
    width: 350px;
}

#barra-difbaja{
    height: 20px;
    width: 600px;
}

.form-check-input:checked {
    background-color: #f5be2e; /* Cambia esto al color deseado */
}
