.card-img-top{

    align-self: center;
    max-width: 100%; 
    height: 100%; 
}

.card {
    max-width: 90rem; 
    max-height: 30rem;
    background-color: #F9B48D;

}

.card-text{
    color: white;
}