<mat-dialog-content class="custom-dialog">
    <h1 mat-dialog-title style="color: white;" >Grupo The Goats</h1>
    <div mat-dialog-content >
      <p >Incursión viernes 28 de julio</p>
      <p>10:00am</p>
    </div>
    <div mat-dialog-actions >
      <button mat-button mat-dialog-close style="color: #102B26; border-radius: 10px 10px 10px 10px;">Cerrar</button>&nbsp;&nbsp;
      <button mat-button routerLink = "/grupos" style="color: #102B26;border-radius: 10px 10px 10px 10px;" mat-dialog-close>Ver más</button>
    </div>
</mat-dialog-content>