.carousel-inner {
    text-align: center; 
    height: 400px;
}
.carousel-item {
    justify-content: center; 
    align-items: center;
    height: 400px;
}
.carousel-item img {
    object-fit: cover;
    top: 0;
    left: 0;
    width: 500px;
    height: 400px; 
    margin: 0px; 
}
