<h1>Bienvenidos a Trekking-Sansano</h1>
<br>
<app-carrusel /><br>
<br>
<br>
<br>
<br>
<div style="display: flex; align-items: center;">
    <div style="flex: 1;" style="padding-right: 60px;">
        <h2>Quienes Somos</h2>
        <p>En Trekking-Sansano, somos una comunidad de estudiantes apasionados por la aventura y el trekking. Unidos por el deseo de explorar la naturaleza y superar desafíos, nos dedicamos a descubrir nuevas rutas y paisajes impresionantes. Nos define nuestro espíritu de camaradería y el amor por la naturaleza, lo que nos impulsa a compartir nuestras experiencias y conocimientos con otros entusiastas del trekking.</p>
    </div>
    <div class="d-flex" style="height: 300px; color: #102B26;">
        <div class="vr"></div>
    </div>
    <div style="flex: 1;" style="padding-left: 60px;">
        <h2>Que Buscamos</h2>
        <p>Nuestra misión en Trekking-Sansano es fomentar la práctica del trekking entre los estudiantes, proporcionando una plataforma donde puedan formar grupos, planificar rutas y progresar en su nivel de experiencia. Ofrecemos información detallada sobre diversas rutas de trekking, organizadas por niveles de dificultad, para que todos, desde principiantes hasta expertos, puedan encontrar el desafío adecuado. Buscamos que cada miembro de nuestra comunidad disfrute de la satisfacción de superar sus límites, hacer nuevos amigos y conectar con la naturaleza de una manera única.</p>
    </div>
</div>
