h1{
    color: #576B59;
    text-shadow: 2px 2px 5px #102B26;
}

h2{
    color: #102B26;
}

img{
    height: 90%;
    width: 90%;
}

#barra-difbaja{
    height: 20%;
    width: 70%;
}

#mapa{
    height: 150%;
    width: 90%;
}

.btn{
    color: white;
}