<h1>Detalles de Ruta</h1><br>
<h2>Sendero Curauma-Laguna verde</h2><br>
<div style="display: flex; align-items: center;">
    <div style="flex: 1;" style="padding-right: 80px;">
        <img src="placilla.jpeg" alt="">
        <p style="align-content: flex-start;">dificultad baja</p>
        <img id="barra-difbaja" src="barra-difbaja.png" alt="barra dificultad">
    </div>
    <div style="flex: 1;" style="padding-left: 80px;">
        <img id="mapa" src="curauma.png" alt="">
        <div style="flex: 1; background-color: #f5be2e; margin-top: 5px; border-radius: 10px 10px 10px 10px;">
            <a href="/detalleRuta" class="btn">Crear grupo para hacer incursión</a>
          </div>
</div>

