img{
    border-radius: 50%;
    width: 300px; height: 300px;
    margin-left: 150px;
}

.mb-6{
    padding-left: 270PX;
}

.btn{
    border-width: 2px; 
    border-color: #f5be2e;
    width: 150px;
}
